* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Karla", sans-serif;
  color: #293264;
  background-color: #F5F7FB;
  margin: 0;
  padding: 0;
}

/* Opening Page */

.openingPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
}

.openingPage > h1 {
  font-size: 1.985rem;
  margin-bottom: .5em;
}

.openingPage > h2 {
  font-weight: 400;
}

.topBlob {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.botBlob {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

button, select {
  margin-top: 1.5em;
}

button {
  background: #4D5B9E;
  color: #F5F7FB;
  border: none;
  font-family: "Karla", sans-serif;
  padding: 1em 1.5em;
  border-radius: 1em;
  font-weight: 500;
}

button:hover {
  background: #3E497F;
  cursor: pointer;
}

select {
  background: whitesmoke;
  border: 1px solid #1c1c1c;
  border-radius: 1em;
  padding:.5em 1em;
  font-family: "Karla", sans-serif;
  cursor: pointer;
}

/* Quiz Page */

.quizPage {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  padding: 2em;
  height: 100vh; 
  width: 100%; 

}

.question--segment {
  margin-bottom: 1em;
}

.question {
  font-size: 1rem;
  font-weight: 700;
}

.answers {
  font-size: .4rem;
  font-weight: 400;
  display: flex;
  gap: 1em;
  justify-content: space-around;
  margin-top: 1.5em;
}

.answer {
  border: .79px solid #4D5B9E;
  padding: .5em 1em;
  border-radius: 1em;
}

.answer:hover {
  cursor: pointer;
  background: #E0E5FF;
}

.selected {
  background: #D6DBF5;
}

hr {
  margin-top: .5em;
  color: #DBDEF0;
}

.result {
  font-size: 1rem;
  margin-right: .5em;
}

.final--result > h1 {
  display: inline;
}

/* Larger Screens */

@media (min-width: 1000px) {


  hr {
    margin-top: 1em;
  }

  .question--segment > h1 {
    font-size: 1.5rem;
  }

  .answers > h2 {
    font-size: .75rem;
  }
  
  .answers {
    margin-top: 3em;
  }

  .questionList {
    margin: 3em 3em 0 3em;
  }
}